<html>
<head>
    <meta charest'=utf-8'>
    <title></title>
    
    <link href="static/style.css"  rel="stylesheet" type="text/css">
</head>
<body>

    
    <img src="https://github.com/ivyzhan/project-01/blob/gh-pages/rainbowcat.png?raw=true" width="800" height="150" alt="RainbowCat">
    <br></br>
    <button onclick="location.href='https://ivyzhan.github.io/project-01/index.html'"> Home </button>  
    <button onclick="location.href='https://ivyzhan.github.io/project-01/introduction.html'"> About me</button>  
    <button> SKILL </button>
    <button> WORKS </button> 
    <h4><span class="title">I'm Ivy</span></h4>

 
</body>
</html>