<html>
<head>
    <meta charest'=utf-8'>
    <title></title>
    
    <link href="project-01/static/style.css"  rel="stylesheet" type="text/css">
</head>
<body>

    <center>
    <img src="https://github.com/ivyzhan/project-01/blob/gh-pages/static/rainbowcat.png?raw=true" width="500" height="150" alt="RainbowCat" style="display:block; margin:auto;"/>
    <br>
    <button onclick="location.href='https://ivyzhan.github.io/project-01/'"> Home </button>  
    <button onclick="location.href='https://ivyzhan.github.io/project-01/templates/introduction.html'"> About me</button>  
    <button> SKILL </button>
    <button> WORKS </button> 
    <h4><span class="title">I'm Ivy</span></h4>
    </center>
 
</body>
</html>
